<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Gestion de Recettes</title>
    <link rel="stylesheet" href="/css/page_accueil.css">
</head>
<body>
    <h1>Bienvenue sur MON site de gestion de recettes !!!!!</h1>
    <nav>
        <ul>
            <li><a href="/utilisateurs/inscription">Inscription</a></li>
            <li><a href="/utilisateurs/connexion">Connexion</a></li>
            <li><a href="/recettes">Voir les recettes</a></li>
            <li><a href="/recettes/ajouter">Ajouter une recette</a></li>
            <li><a href="/ingredient">Gestion des ingrédients</a></li>
        </ul>
    </nav>
</body>
</html>
