<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Recette</title>
    <link rel="stylesheet" href="/css/page_ajouter.css">
</head>
<body>
    <h2>Ajouter une Recette</h2>

    <!-- Formulaire d'ajout de recette -->
    <form action="/recettes/ajouter" method="post" enctype="multipart/form-data">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required><br>

        <label for="description">Description :</label>
        <textarea id="description" name="description" required></textarea><br>

        <!-- Champ de sélection pour les catégories -->
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="categorie">
            <option value="65671ef26d890de6e552708b">Dessert</option> <!-- Remplacer par l'ID de la catégorie -->
            <option value="65671ef26d890de6e552708c">Végétarien</option> <!-- Remplacer par l'ID de la catégorie -->
            <option value="65671ef26d890de6e552708d">Rapide</option> <!-- Remplacer par l'ID de la catégorie -->
        </select><br>

        <!-- Champ pour le téléchargement d'image -->
        <label for="imageRecette">Image de la Recette :</label>
        <input type="file" id="imageRecette" name="imageRecette"><br>

        <input type="submit" value="Ajouter la recette">
    </form>
    <a href="/recettes">Retour à la liste des recettes</a>
</body>
</html>



