<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/page_connexion.css">
</head>
<body>

    <h2>Connexion</h2>
    <p>Vous n'avez pas de compte ? <a href="/utilisateurs/inscription">Inscrivez-vous</a></p>
    <form action="/utilisateurs/connexion" method="post">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br>
        <% if (messages.erreurConnexion) { %>
            <div style="color: red;"><%= messages.erreurConnexion %></div>
        <% } %>
         
        <input type="submit" value="Se connecter">
    </form>
</body>
</html>

