<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier la Recette</title>
    <link rel="stylesheet" href="/css/page_modifier.css">
</head>
<body>
    <h2>Modifier la Recette</h2>
    <form action="/recettes/modifier/<%= recette._id %>" method="post">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" value="<%= recette.titre %>" required><br>

        <label for="description">Description :</label>
        <textarea id="description" name="description" required><%= recette.description %></textarea><br>

        

        <input type="submit" value="Modifier la recette">
    </form>
    <a href="/recettes">Retour à la liste des recettes</a>
</body>
</html>
