<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche recette</title>
</head>
<body>
  
<h2>Résultats de Recherche</h2>
<% if (recettes.length > 0) { %>
    <ul>
        <% recettes.forEach(recette => { %>
            <li>
                <h3><%= recette.titre %></h3>
                <p><%= recette.description %></p>
               
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>Aucune recette trouvée.</p>
<% } %>


</ul>
</body>
</html>